.anchor
.DS_Store
# Ignore everything in the target directory
/target/*

# Except for .json files in target/deploy directory
!target/deploy/
!target/deploy/*.json
**/*.rs.bk
node_modules
test-ledger
.yarn
.idea
yarn.lock
*.log